 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');


 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     text-decoration: none;
     color: white;
     background: #0e0016;
     font-family: 'Poppins', sans-serif;
 }

 body {
     display: flex;
     flex-direction: column;
     min-height: 100vh;

 }

 .index-main {
     display: flex;
     flex: 1;
     justify-content: center;
 }

 .content,
 .skills,
 .holland,
 .portfolio {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items: center;
     gap: 140px;

 }

 .test-holland {
     display: flex;
     flex-direction: column;
     align-items: center;
 }

 .holland {
     font-weight: 400;
     letter-spacing: 2px;
 }

 .title-holland {
     font-size: 18px;

 }

 .subtitle-holland {
     font-size: 16px;
     color: #8f1ed0;

 }

 .description-holland {
     font-size: 12px;
     text-align: center;
     line-height: 2;
     font-weight: 400;
     margin-left: 260px;
     margin-right: 260px;

 }


 .soft,
 .hard {
     display: flex;
     flex-direction: column;
     align-items: first baseline;
     gap: 30px;
 }

 .image-soft,
 .image-hard {
     height: 80px;
 }


 .job-one,
 .job-two {
     height: 200px;
     right: 200px;
     border-radius: 20px;
 }

 .job-one:hover,
 .job-two:hover {
     transform: scale(1.1);
 }

 .index-header {
     display: flex;
     flex-direction: row;
     align-items: baseline;
     justify-content: space-around;
     padding: 16px;
     border-bottom: 0.4px solid #510180;
 }

 .header-menu {
     display: flex;
     gap: 36px;
 }

 .name {
     font-size: 18px;
     font-weight: 400;
     letter-spacing: 2px;
 }

 .menu-item {
     font-size: 14px;
     font-weight: 400;
     letter-spacing: 2px;

 }

 .menu-item:hover {
     color: #8f1ed0;
     transform: scale(1.2);

 }


 .image-dai {
     height: 340px;
 }

 .description {
     font-size: 16px;
     font-weight: 400;
     letter-spacing: 2px;
 }

 .list-soft,
 .list-hard {
     font-size: 12px;
     font-weight: 400;
     letter-spacing: 2px;
 }

 .footer-index {
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: space-around;
     padding: 20px;
     gap: 40px;
 }

 .footer-links {
     display: flex;
     gap: 36px;
 }

 .icons {
     height: 50px;

 }

 .icons:hover {
     transform: scale(1.2);
 }